001_Game/server/userdb/
001_Game/resource/
001_Game/bin/cache
001_Game/logs.txt
001_Game/Updater/Updater.py
001_Game/bin/3.kxr
001_Game/bin/2.kxr
001_Game/bin/1.kxr
001_Game/Updater/version.txt
002_Tool/MiniTools/Repack.class
002_Tool/resource/
002_Tool/bin/
002_Tool/lang
002_Tool/kwtamped2
003_ResourceRaw/

001_Game/bin/1.kxr
001_Game/bin/2.kxr
001_Game/bin/3.kxr
001_Game/bin/4.kxr
001_Game/bin/5.kxr
001_Game/Updater/drive_version.txt
